<a href="https://colab.research.google.com/github/data-IA-2022/FAO_Project_Tarik_FengFeng/blob/main/FAO_Data_Analyse_Fengfeng_Tarik.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<h1><center>Data Analyse au sein de la FAO (Food and Agriculture Organization)</h1>

<h2>Contexte du projet</h2>

Au sein du service Data Analytics and Prospective de la FAO, vous êtes en charge d'analyser les données produites par les Nations Unies.

Ces analyses conduisent à des rapports de synthèse à destination des décideurs.

Pour êtes également en charge de la partie Prospective, c'est à dire donner des tendances et des évolutions probables quant à la production agricole, à l'alimentation et la nutrition mondiales.

In [145]:
# Copie des fichiers csv du repertoire github et suppréssions des ancien en cas de mise à jour

!rm -r /content/FAO_Project_Tarik_FengFeng
!git clone https://github.com/data-IA-2022/FAO_Project_Tarik_FengFeng.git

Cloning into 'FAO_Project_Tarik_FengFeng'...
remote: Enumerating objects: 255, done.
remote: Counting objects: 100% (160/160), done.
remote: Compressing objects: 100% (88/88), done.
remote: Total 255 (delta 93), reused 122 (delta 71), pack-reused 95
Receiving objects: 100% (255/255), 7.60 MiB | 7.85 MiB/s, done.
Resolving deltas: 100% (147/147), done.

In [146]:
#importation des librairies python
import os
import pandas as pd
import glob
import itertools 
import numpy as np

In [147]:
# Récupération des chemin vers les fichiers csv
csv_path = '/content/FAO_Project_Tarik_FengFeng/fao_2013'
def find_csv_filenames(path_to_dir=os.getcwd(), extension="csv"):
    filenames = []
    for name in glob.glob(f'{path_to_dir}/*.{extension}'):
      filenames.append(name)
    return filenames
all_csv_files= find_csv_filenames(path_to_dir=csv_path)
print(all_csv_files)

['/content/FAO_Project_Tarik_FengFeng/fao_2013/FAOSTAT_2013_animal.csv', '/content/FAO_Project_Tarik_FengFeng/fao_2013/FAOSTAT_2013_sous_alimentation.csv', '/content/FAO_Project_Tarik_FengFeng/fao_2013/FAOSTAT_2013_vegetal.csv', '/content/FAO_Project_Tarik_FengFeng/fao_2013/FAOSTAT_pays-continents.csv', '/content/FAO_Project_Tarik_FengFeng/fao_2013/FAOSTAT_2013_cereal.csv', '/content/FAO_Project_Tarik_FengFeng/fao_2013/FAOSTAT_2013_population.csv', '/content/FAO_Project_Tarik_FengFeng/fao_2013/FAOSTAT_area.csv']

In [148]:
# Création d'un dictionaire avec nom des fichiers csv comme Key et dataframe comme value

col_names= ['Code Domaine', 'Domaine', 'Code Pays', 'Pays', 'Code Élément',
       'Élément', 'Code Produit', 'Produit', 'Code année', 'Année', 'Unité',
       'Valeur', 'Symbole', 'Description du Symbole']
df_dict = {}
for f in all_csv_files:
  df_name= f.split("/")[-1].replace(".csv", "").split("_")[-1]
  if "FAOSTAT_2013" in f:
    df_dict[f'{df_name}'] = pd.read_csv(f, encoding='utf-8', quotechar='"', delimiter=',', names= col_names, header=0)
  else:
    df_dict[f'{df_name}'] = pd.read_csv(f, encoding='utf-8', quotechar='"', delimiter=',')

print(df_dict.keys())

dict_keys(['animal', 'alimentation', 'vegetal', 'pays-continents', 'cereal', 'population', 'area'])

In [149]:
# Définition des Dataframes

animal= df_dict["animal"]
cereal= df_dict["cereal"]
population= df_dict["population"]
alimentation= df_dict["alimentation"]
vegetal= df_dict["vegetal"]
pays_continents= df_dict["pays-continents"]
area= df_dict["area"]

In [150]:
# Définir les codes pays comme index des Df
animal.index= animal["Code Pays"]
animal.index.name= "Code_Pays_id"
cereal.index= cereal["Code Pays"]
cereal.index.name= "Code_Pays_id"
population.index= population["Code Pays"]
population.index.name= "Code_Pays_id"
# Masque pour supprimer les autres valeurs de chine
alimentation = alimentation[~alimentation['Pays'].isin(['Chine - RAS de Hong-Kong','Chine - RAS de Macao', 'Chine, continentale', 'Chine, Taiwan Province de'])]

alimentation.index= alimentation["Code Pays"]
alimentation.index.name= "Code_Pays_id"

vegetal.index= vegetal["Code Pays"]
vegetal.index.name= "Code_Pays_id"
pays_continents.index= pays_continents["Code Pays"]
pays_continents.index.name= "Code_Pays_id"

area.index= area["Area"]
area.index.name= "Code_Pays_id"
area.head(5)

,Domain Code,Domain,Area Code (M49),Area,Element Code,Element,Item Code,Item,Year Code,Year,Unit,Value,Flag,Flag Description
Code_Pays_id,,,,,,,,,,,,,,
Afghanistan,RL,Land Use,4,Afghanistan,5110,Area,6600,Country area,2013,2013,1000 ha,65286.0,A,Official figure
Albania,RL,Land Use,8,Albania,5110,Area,6600,Country area,2013,2013,1000 ha,2875.0,A,Official figure
Algeria,RL,Land Use,12,Algeria,5110,Area,6600,Country area,2013,2013,1000 ha,238174.0,A,Official figure
American Samoa,RL,Land Use,16,American Samoa,5110,Area,6600,Country area,2013,2013,1000 ha,20.0,A,Official figure
Andorra,RL,Land Use,20,Andorra,5110,Area,6600,Country area,2013,2013,1000 ha,47.0,A,Official figure

In [151]:
# nb lignes et nb colonnes de nos df
print(animal.shape)
print(cereal.shape)
print(population.shape)
print(alimentation.shape)
print(vegetal.shape)
print(pays_continents.shape)

(37166, 14)
(16057, 14)
(171, 14)
(200, 14)
(104871, 14)
(1941, 7)

<h2><centered>1. Analyses descriptives des données</h2>

<p>Il s’agit ici de réaliser des analyses descriptives statistiques et graphiques sur les différentes variables des jeux de données : <br>
- Analyses univariées<br> 
- Analyses bi-variées</p>

<h2><centered>2. Etude guidée n°1</h2>

<h2>Question 1 : Nombre d'humains sur la planète</h2>
<p>Calculez le nombre total d’humains sur la planète.<br> 
Critiquez votre résultat. En cas d’anomalie, analysez et effectuer les corrections nécessaires.<br> Donnez le résultat de votre calcul pour l'année 2013.</p>

In [152]:
# Nombre d'humain sur la planète
#sum of value in population
pop_total = population['Valeur'].sum()
print(f'Il y avait {(pop_total*1000):,} habitants sur la planète en 2013'.replace(',', ' '))

Il y avait 6 997 326 000 habitants sur la planète en 2013

<h2>Question 2 : Redondances</h2>
<p>Pour les datasets « animal », « cereal » et « vegetal », on considère ici les 11 quantités : Disponibilité  intérieure, Production, Importations, Variation, Exportations, Nourriture, Aliments, Animaux,  Semences, Pertes et Traitement. 
</p>
<p>Identifiez les redondances, en donnant votre réponse sous forme de formule mathématique (pas  besoin de coder ici). 
C'est une équation à 3 termes de type (a_1 + a2 + [...] = b_1 + b_2 + [...] = c_1 + c_2 + [...]) ) faisant  intervenir chacune des 11 quantités données ci dessus. 
Illustrez cette équation avec l'exemple du blé en France. 
</p>

In [153]:
cereal.columns
# subset de cereal avec just la production de blé dans production
df_cerealprodBlé_fr = cereal.query("Produit in ('Blé') and Pays in ('France')")[['Pays','Élément','Produit','Valeur','Unité']]
df_cerealprodBlé_fr

,Pays,Élément,Produit,Valeur,Unité
Code_Pays_id,,,,,
68,France,Production,Blé,38614.00,Milliers de tonnes
68,France,Importations - Quantité,Blé,2055.00,Milliers de tonnes
68,France,Variation de stock,Blé,1131.00,Milliers de tonnes
68,France,Exportations - Quantité,Blé,21502.00,Milliers de tonnes
68,France,Disponibilité intérieure,Blé,20298.00,Milliers de tonnes
68,France,Aliments pour animaux,Blé,7822.00,Milliers de tonnes
68,France,Semences,Blé,748.00,Milliers de tonnes
68,France,Pertes,Blé,358.00,Milliers de tonnes
68,France,Traitement,Blé,1575.00,Milliers de tonnes
68,France,Autres Utilisations,Blé,2824.00,Milliers de tonnes
68,France,Nourriture,Blé,6971.00,Milliers de tonnes
68,France,Disponibilité alimentaire en quantité (kg/pers...,Blé,108.43,kg
68,France,Disponibilité alimentaire (Kcal/personne/jour),Blé,811.00,Kcal/personne/jour
68,France,Disponibilité de protéines en quantité (g/pers...,Blé,25.99,g/personne/jour
68,France,Disponibilité de matière grasse en quantité (g...,Blé,4.20,g/personne/jour

Approche Textuel:
On peut supposer une disposition par niveau.
Production + Importation + Variation de stock - Exportation =disponibilité interieur= Aliments pour animaux + Semences + Pertes + Traitement + Autres Utilisations + Nourriture

In [154]:
# Test de vérification doit être égale à True
test =38614.00 + 2055.00 + 1131.00 - 21502.00 == 20298.00 == 7822.00 + 748.00 + 358 +1575 +2824 +6971 
test

True

Le test nous renvoie True notre hypothèse est donc confirmée.

<h2>Question 3 : Disponibilité alimentaire (calories, protéines)</h2>
<p>Calculez (pour chaque pays et chaque produit) la disponibilité alimentaire en kcal par an puis en kg  de protéines par an. Vous ferez cela à partir de ces informations :  
- Population de chaque pays 
- Disponibilité alimentaire donnée pour chaque produit et pour chaque pays en kcal/personne/jour, - - Disponibilité alimentaire en protéines donnée pour chaque produit et pour chaque pays en  g/personne/jour.</p>
<p>Pour cette étape vous avez besoin de constituer une seule et même table à partir des tables  animaux, végétaux et population. Nommer cette nouvelle table « aliments ». </p>

Construction d'une Data frame aliments

In [155]:
#construction de la df aliment merge de animal vegetal et population
# animal_vegetal = animal.join(vegetal, on= "Code_Pays_id",how="left", lsuffix="_ani", rsuffix="_veg" )
#animal_vegetal.head(3)

# aliments = animal.merge(vegetal,on='Code_Pays_id').merge(population,on='Code_Pays_id')
# aliments.head(3)

In [156]:
population.head(2)
#drop les colonnes qui ne nous servent pas
print(animal_vegetal.columns)
animal_vegetal.shape

Index(['Code Domaine_ani', 'Domaine_ani', 'Code Pays_ani', 'Pays_ani',
       'Code Élément_ani', 'Élément_ani', 'Code Produit_ani', 'Produit_ani',
       'Code année_ani', 'Année_ani', 'Unité_ani', 'Valeur_ani', 'Symbole_ani',
       'Description du Symbole_ani', 'Code Domaine_veg', 'Domaine_veg',
       'Code Pays_veg', 'Pays_veg', 'Code Élément_veg', 'Élément_veg',
       'Code Produit_veg', 'Produit_veg', 'Code année_veg', 'Année_veg',
       'Unité_veg', 'Valeur_veg', 'Symbole_veg', 'Description du Symbole_veg'],
      dtype='object')

(22595112, 28)

In [157]:
population.columns

Index(['Code Domaine', 'Domaine', 'Code Pays', 'Pays', 'Code Élément',
       'Élément', 'Code Produit', 'Produit', 'Code année', 'Année', 'Unité',
       'Valeur', 'Symbole', 'Description du Symbole'],
      dtype='object')

In [158]:
############################ Attention problème mémoire ###################################""""
#aliments = population.join(animal_vegetal, on= "Code_Pays_id",how="left", lsuffix="_pop", rsuffix="_aniveg" )

In [159]:
# Ajout d'une colonne 'Origine' dans animaux et vegetaux
animal['Origine'] = 'Animale'
vegetal['Origine'] = 'Végétale'

# Union de Végétaux et Animaux
aliments = pd.concat([vegetal, animal])

# Projection
aliments = aliments[[
    'Pays',
    'Code Pays',
    'Produit',
    'Code Produit',
    'Origine',
    'Élément',
    'Valeur',
    'Année'
]]

# Table pivot sur aliments
aliments = aliments.pivot_table('Valeur', index=['Code Pays','Pays','Produit','Code Produit','Année','Origine'], columns='Élément')

# Reset index
aliments.reset_index(inplace=True)

# Joindre population et aliments
aliments = pd.merge(aliments, population[['Pays', 'Valeur','Unité']], left_on='Pays', right_on='Pays')

# Renommer les colonnes
aliments.rename(columns={
    'Aliments pour animaux' : 'alim_ani',
    'Autres utilisations (non alimentaire)' : 'autres_utilisations',
    'Semences' : 'semences',
    'Pertes' : 'pertes',
    'Nourriture' : 'nourriture',
    'Traitement' : 'transfo', # ?
    'Disponibilité intérieure' : 'dispo_int',
    'Disponibilité alimentaire (Kcal/personne/jour)' : 'dispo_alim_kcal_p_j',
    'Disponibilité alimentaire en quantité (kg/personne/an)' : 'dispo_alim_kg_p_an',
    'Disponibilité de protéines en quantité (g/personne/jour)' : 'dispo_prot_g_p_j',
    'Disponibilité de matière grasse en quantité (g/personne/jour)' : 'dispo_mat_gr',
    'Valeur' : 'population',
    'Unité' : 'unité_pop'
}, inplace=True)

# Remplacer les Nan
aliments.replace(np.nan, 0, inplace=True)
#Population * 1000
aliments['population']= (aliments['population'] *1000).round(decimals = 1)
# Affichage
print('Résultat : ', aliments.shape[1], 'colonnes, ', aliments.shape[0], 'lignes')
aliments.sample(3)

Résultat :  23 colonnes,  4764 lignes

,Code Pays,Pays,Produit,Code Produit,Année,Origine,alim_ani,Autres Utilisations,dispo_alim_kcal_p_j,dispo_alim_kg_p_an,...,Exportations - Quantité,Importations - Quantité,nourriture,pertes,Production,semences,transfo,Variation de stock,population,unité_pop
1616,83,Kiribati,Crustacés,2765,2013,Animale,0.0,0.0,3.0,1.96,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,102000,1000 persons
1024,48,Costa Rica,Poissons Eau Douce,2761,2013,Animale,0.0,0.0,9.0,5.97,...,20.0,20.0,29.0,0.0,28.0,0.0,0.0,0.0,4872000,1000 persons
717,35,Cabo Verde,Huil Plantes Oleif Autr,2586,2013,Végétale,0.0,0.0,65.0,2.72,...,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,499000,1000 persons

In [160]:
aliments.columns

Index(['Code Pays', 'Pays', 'Produit', 'Code Produit', 'Année', 'Origine',
       'alim_ani', 'Autres Utilisations', 'dispo_alim_kcal_p_j',
       'dispo_alim_kg_p_an', 'dispo_mat_gr', 'dispo_prot_g_p_j', 'dispo_int',
       'Exportations - Quantité', 'Importations - Quantité', 'nourriture',
       'pertes', 'Production', 'semences', 'transfo', 'Variation de stock',
       'population', 'unité_pop'],
      dtype='object')

In [161]:
# Calcul disponibilité alimentaire Kcal/an = dispo_alim_kcal_p_j * (population*1000) * 365

aliments['dispo_alim_kcal_an'] = round((aliments['dispo_alim_kcal_p_j'] * (aliments['population'])) * 365,1)
aliments['dispo_prot_kg_an'] = round(((aliments['dispo_prot_g_p_j'] /1000) * aliments['population'] * 365),1)
aliments['dispo_alim_kg_an'] = (aliments['dispo_alim_kg_p_an'] * aliments['population'])
aliments.columns

Index(['Code Pays', 'Pays', 'Produit', 'Code Produit', 'Année', 'Origine',
       'alim_ani', 'Autres Utilisations', 'dispo_alim_kcal_p_j',
       'dispo_alim_kg_p_an', 'dispo_mat_gr', 'dispo_prot_g_p_j', 'dispo_int',
       'Exportations - Quantité', 'Importations - Quantité', 'nourriture',
       'pertes', 'Production', 'semences', 'transfo', 'Variation de stock',
       'population', 'unité_pop', 'dispo_alim_kcal_an', 'dispo_prot_kg_an',
       'dispo_alim_kg_an'],
      dtype='object')

In [162]:
aliments.head(5)

,Code Pays,Pays,Produit,Code Produit,Année,Origine,alim_ani,Autres Utilisations,dispo_alim_kcal_p_j,dispo_alim_kg_p_an,...,pertes,Production,semences,transfo,Variation de stock,population,unité_pop,dispo_alim_kcal_an,dispo_prot_kg_an,dispo_alim_kg_an
0,2,Afghanistan,Abats Comestible,2736,2013,Animale,0.0,0.0,5.0,1.72,...,0.0,53.0,0.0,0.0,0.0,30552000,1000 persons,5.575740e+10,8586639.6,52549440.0
1,2,Afghanistan,"Agrumes, Autres",2614,2013,Végétale,0.0,0.0,1.0,1.29,...,2.0,3.0,0.0,0.0,0.0,30552000,1000 persons,1.115148e+10,223029.6,39412080.0
2,2,Afghanistan,Aliments pour enfants,2680,2013,Végétale,0.0,0.0,1.0,0.06,...,0.0,0.0,0.0,0.0,0.0,30552000,1000 persons,1.115148e+10,334544.4,1833120.0
3,2,Afghanistan,Ananas,2618,2013,Végétale,0.0,0.0,0.0,0.00,...,0.0,0.0,0.0,0.0,0.0,30552000,1000 persons,0.000000e+00,0.0,0.0
4,2,Afghanistan,Bananes,2615,2013,Végétale,0.0,0.0,4.0,2.70,...,0.0,0.0,0.0,0.0,0.0,30552000,1000 persons,4.460592e+10,557574.0,82490400.0

<h2>Question 4 : Ratio énergie/poids </h2>
<p>A partir de ces dernières informations, et à partir du poids de la disponibilité alimentaire (pour  chaque pays et chaque produit), calculez pour chaque produit le ratio "énergie/poids", que vous 
donnerez en kcal/kg.</p>
<p>Vous pouvez vérifier la cohérence de votre calcul en comparant ce ratio aux  données disponibles sur internet, par exemple en cherchant la valeur calorique d'un oeuf.</p>

In [169]:
# Ration energie poids
aliments['ratio_energie_poids'] = round(aliments['dispo_alim_kcal_an'] / aliments['dispo_alim_kg_an'],1)

# vérification et suppression des NaN

print(aliments['ratio_energie_poids'].isna().sum())
aliments['ratio_energie_poids'].dropna(axis='rows', inplace=True)
aliments['ratio_energie_poids'].isna().sum()
aliments.head(3)

0

,Code Pays,Pays,Produit,Code Produit,Année,Origine,alim_ani,Autres Utilisations,dispo_alim_kcal_p_j,dispo_alim_kg_p_an,...,Production,semences,transfo,Variation de stock,population,unité_pop,dispo_alim_kcal_an,dispo_prot_kg_an,dispo_alim_kg_an,ratio_energie_poids
3844,197,Sierra Leone,Miscellanees,2899,2013,Végétale,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,6092000,1000 persons,2.223580e+09,66707.4,0.0,inf
2601,132,Maldives,Miscellanees,2899,2013,Végétale,0.0,0.0,16.0,0.0,...,0.0,0.0,0.0,0.0,345000,1000 persons,2.014800e+09,59184.8,0.0,inf
3302,169,Paraguay,Graines Colza/Moutarde,2558,2013,Végétale,0.0,0.0,2.0,0.0,...,70.0,0.0,44.0,0.0,6802000,1000 persons,4.965460e+09,0.0,0.0,inf

Sachant que la valeur énergétique pour un œuf moyen (60 g) est d'environ 90 kcal.

In [170]:
# vérification et suppression des NaN
#print(aliments.isna().sum())
aliments.dropna(axis='rows', inplace=True)

# Valeur énergétique sur produit = oeuf on prendra la moyenne de cette valeur et on la comparera avec les données sur le net
ratio_kcal_kg_oeuf = round(aliments[(aliments['Produit'] == 'Oeufs')]['ratio_energie_poids'].mean(),1)

#Valeur énergétique d'un oueuf moyen de 60g pris sur internet
ratio_kcal_kg_oeuf_net = 90 / 0.06

print(f"""Nous observant que la valeur énergétique moyenne d'un oeuf dans notre df aliments qui est de {ratio_kcal_kg_oeuf} Kcal/kg.
est proche de la valeur obtenue sur internet pour un oeufs moyen de 60g qui est égale à {ratio_kcal_kg_oeuf_net} Kcal/kg""")

Nous observant que la valeur énergétique moyenne d'un oeuf dans notre df aliments qui est de 1362.3 Kcal/kg.
est proche de la valeur obtenue sur internet pour un oeufs moyen de 60g qui est égale à 1500.0 Kcal/kg

<h2>Question 5 : Aliments les plus caloriques et protéiques  </h2>
<p>En considérant les aliments végétaux et animaux, citez 5 aliments parmi les 20 aliments les plus  caloriques, en utilisant le ratio énergie/poids. Citez 5 aliments parmi les 20 aliments les plus riches en  protéines. </p>

In [234]:
# classement des 20 aliments les plus riches
produits_plus_cal = aliments.groupby('Produit')['ratio_energie_poids'].mean().sort_values(ascending=False)
produits_plus_cal.head(20)
five_produits_plus_cal = produits_plus_cal.head(20).sample(n=5)
print(f"""Voici 5 aliments:\n {five_produits_plus_cal.to_string( header=False)}\nparmi les 20 les plus caloriques.""")

Voici 5 aliments
 Huiles de Foie de Poisso    6083.333333
Huile de Palme              8712.990476
Huile de Son de Riz         7760.850000
Huile d'Arachide            7356.956757
Huile d'Olive               7388.752273
parmi les 20 les plus caloriques.