<a href="https://colab.research.google.com/github/data-IA-2022/FAO_Project_Tarik_FengFeng/blob/main/FAO_Data_Analyse_Fengfeng_Tarik.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<h1><center>Data Analyse au sein de la FAO (Food and Agriculture Organization)</h1>

<h2>Contexte du projet</h2>

Au sein du service Data Analytics and Prospective de la FAO, vous êtes en charge d'analyser les données produites par les Nations Unies.

Ces analyses conduisent à des rapports de synthèse à destination des décideurs.

Pour êtes également en charge de la partie Prospective, c'est à dire donner des tendances et des évolutions probables quant à la production agricole, à l'alimentation et la nutrition mondiales.

In [164]:
# Copie des fichiers csv du repertoire github et suppréssions des ancien en cas de mise à jour

!rm -r /content/FAO_Project_Tarik_FengFeng
!git clone https://github.com/data-IA-2022/FAO_Project_Tarik_FengFeng.git

Cloning into 'FAO_Project_Tarik_FengFeng'...
remote: Enumerating objects: 294, done.
remote: Counting objects: 100% (199/199), done.
remote: Compressing objects: 100% (127/127), done.
remote: Total 294 (delta 118), reused 123 (delta 71), pack-reused 95
Receiving objects: 100% (294/294), 9.13 MiB | 13.18 MiB/s, done.
Resolving deltas: 100% (172/172), done.

In [165]:
#importation des librairies python
import os
import pandas as pd
import glob
import itertools 
import numpy as np

In [166]:
# Récupération des chemin vers les fichiers csv
csv_path = '/content/FAO_Project_Tarik_FengFeng/fao_2013'
def find_csv_filenames(path_to_dir=os.getcwd(), extension="csv"):
    filenames = []
    for name in glob.glob(f'{path_to_dir}/*.{extension}'):
      filenames.append(name)
    return filenames
all_csv_files= find_csv_filenames(path_to_dir=csv_path)
print(all_csv_files)

['/content/FAO_Project_Tarik_FengFeng/fao_2013/FAOSTAT_2013_population.csv', '/content/FAO_Project_Tarik_FengFeng/fao_2013/FAOSTAT_pays-continents.csv', '/content/FAO_Project_Tarik_FengFeng/fao_2013/FAOSTAT_area.csv', '/content/FAO_Project_Tarik_FengFeng/fao_2013/FAOSTAT_2013_cereal.csv', '/content/FAO_Project_Tarik_FengFeng/fao_2013/FAOSTAT_2013_animal.csv', '/content/FAO_Project_Tarik_FengFeng/fao_2013/FAOSTAT_2013_sous_alimentation.csv', '/content/FAO_Project_Tarik_FengFeng/fao_2013/FAOSTAT_2013_vegetal.csv']

In [167]:
# Création d'un dictionaire avec nom des fichiers csv comme Key et dataframe comme value

col_names= ['Code Domaine', 'Domaine', 'Code Pays', 'Pays', 'Code Élément',
       'Élément', 'Code Produit', 'Produit', 'Code année', 'Année', 'Unité',
       'Valeur', 'Symbole', 'Description du Symbole']
df_dict = {}
for f in all_csv_files:
  df_name= f.split("/")[-1].replace(".csv", "").split("_")[-1]
  if "FAOSTAT_2013" in f:
    df_dict[f'{df_name}'] = pd.read_csv(f, encoding='utf-8', quotechar='"', delimiter=',', names= col_names, header=0)
  else:
    df_dict[f'{df_name}'] = pd.read_csv(f, encoding='utf-8', quotechar='"', delimiter=',')

print(df_dict.keys())

dict_keys(['population', 'pays-continents', 'area', 'cereal', 'animal', 'alimentation', 'vegetal'])

In [168]:
# Définition des Dataframes

animal= df_dict["animal"]
cereal= df_dict["cereal"]
population= df_dict["population"]
alimentation= df_dict["alimentation"]
vegetal= df_dict["vegetal"]
pays_continents= df_dict["pays-continents"]
area= df_dict["area"]

In [169]:
# Définir les codes pays comme index des Df
animal.index= animal["Code Pays"]
animal.index.name= "Code_Pays_id"
cereal.index= cereal["Code Pays"]
cereal.index.name= "Code_Pays_id"
population.index= population["Code Pays"]
population.index.name= "Code_Pays_id"
# Masque pour supprimer les autres valeurs de chine
alimentation = alimentation[~alimentation['Pays'].isin(['Chine - RAS de Hong-Kong','Chine - RAS de Macao', 'Chine, continentale', 'Chine, Taiwan Province de'])]

alimentation.index= alimentation["Code Pays"]
alimentation.index.name= "Code_Pays_id"

vegetal.index= vegetal["Code Pays"]
vegetal.index.name= "Code_Pays_id"
pays_continents.index= pays_continents["Code Pays"]
pays_continents.index.name= "Code_Pays_id"

area.index= area["Area"]
area.index.name= "Code_Pays_id"
area.head(5)

,Domain Code,Domain,Area Code (M49),Area,Element Code,Element,Item Code,Item,Year Code,Year,Unit,Value,Flag,Flag Description
Code_Pays_id,,,,,,,,,,,,,,
Afghanistan,RL,Land Use,4,Afghanistan,5110,Area,6600,Country area,2013,2013,1000 ha,65286.0,A,Official figure
Albania,RL,Land Use,8,Albania,5110,Area,6600,Country area,2013,2013,1000 ha,2875.0,A,Official figure
Algeria,RL,Land Use,12,Algeria,5110,Area,6600,Country area,2013,2013,1000 ha,238174.0,A,Official figure
American Samoa,RL,Land Use,16,American Samoa,5110,Area,6600,Country area,2013,2013,1000 ha,20.0,A,Official figure
Andorra,RL,Land Use,20,Andorra,5110,Area,6600,Country area,2013,2013,1000 ha,47.0,A,Official figure

In [170]:
# nb lignes et nb colonnes de nos df
print(animal.shape)
print(cereal.shape)
print(population.shape)
print(alimentation.shape)
print(vegetal.shape)
print(pays_continents.shape)

(37166, 14)
(16057, 14)
(171, 14)
(200, 14)
(104871, 14)
(1941, 7)

<h2><centered>1. Analyses descriptives des données</h2>

<p>Il s’agit ici de réaliser des analyses descriptives statistiques et graphiques sur les différentes variables des jeux de données : <br>
- Analyses univariées<br> 
- Analyses bi-variées</p>

<h2><centered>2. Etude guidée n°1</h2>

<h2>Question 1 : Nombre d'humains sur la planète</h2>
<p>Calculez le nombre total d’humains sur la planète.<br> 
Critiquez votre résultat. En cas d’anomalie, analysez et effectuer les corrections nécessaires.<br> Donnez le résultat de votre calcul pour l'année 2013.</p>

In [171]:
# Nombre d'humain sur la planète
#sum of value in population
pop_total = population['Valeur'].sum()
print(f'Il y avait {(pop_total*1000):,} habitants sur la planète en 2013'.replace(',', ' '))

Il y avait 6 997 326 000 habitants sur la planète en 2013

<h2>Question 2 : Redondances</h2>
<p>Pour les datasets « animal », « cereal » et « vegetal », on considère ici les 11 quantités : Disponibilité  intérieure, Production, Importations, Variation, Exportations, Nourriture, Aliments, Animaux,  Semences, Pertes et Traitement. 
</p>
<p>Identifiez les redondances, en donnant votre réponse sous forme de formule mathématique (pas  besoin de coder ici). 
C'est une équation à 3 termes de type (a_1 + a2 + [...] = b_1 + b_2 + [...] = c_1 + c_2 + [...]) ) faisant  intervenir chacune des 11 quantités données ci dessus. 
Illustrez cette équation avec l'exemple du blé en France. 
</p>

In [172]:
cereal.columns
# subset de cereal avec just la production de blé dans production
df_cerealprodBlé_fr = cereal.query("Produit in ('Blé') and Pays in ('France')")[['Pays','Élément','Produit','Valeur','Unité']]
df_cerealprodBlé_fr

,Pays,Élément,Produit,Valeur,Unité
Code_Pays_id,,,,,
68,France,Production,Blé,38614.00,Milliers de tonnes
68,France,Importations - Quantité,Blé,2055.00,Milliers de tonnes
68,France,Variation de stock,Blé,1131.00,Milliers de tonnes
68,France,Exportations - Quantité,Blé,21502.00,Milliers de tonnes
68,France,Disponibilité intérieure,Blé,20298.00,Milliers de tonnes
68,France,Aliments pour animaux,Blé,7822.00,Milliers de tonnes
68,France,Semences,Blé,748.00,Milliers de tonnes
68,France,Pertes,Blé,358.00,Milliers de tonnes
68,France,Traitement,Blé,1575.00,Milliers de tonnes
68,France,Autres Utilisations,Blé,2824.00,Milliers de tonnes
68,France,Nourriture,Blé,6971.00,Milliers de tonnes
68,France,Disponibilité alimentaire en quantité (kg/pers...,Blé,108.43,kg
68,France,Disponibilité alimentaire (Kcal/personne/jour),Blé,811.00,Kcal/personne/jour
68,France,Disponibilité de protéines en quantité (g/pers...,Blé,25.99,g/personne/jour
68,France,Disponibilité de matière grasse en quantité (g...,Blé,4.20,g/personne/jour

Approche Textuel:
On peut supposer une disposition par niveau.
Production + Importation + Variation de stock - Exportation =disponibilité interieur= Aliments pour animaux + Semences + Pertes + Traitement + Autres Utilisations + Nourriture

In [173]:
# Test de vérification doit être égale à True
test =38614.00 + 2055.00 + 1131.00 - 21502.00 == 20298.00 == 7822.00 + 748.00 + 358 +1575 +2824 +6971 
test

True

Le test nous renvoie True notre hypothèse est donc confirmée.

<h2>Question 3 : Disponibilité alimentaire (calories, protéines)</h2>
<p>Calculez (pour chaque pays et chaque produit) la disponibilité alimentaire en kcal par an puis en kg  de protéines par an. Vous ferez cela à partir de ces informations :  
- Population de chaque pays 
- Disponibilité alimentaire donnée pour chaque produit et pour chaque pays en kcal/personne/jour, - - Disponibilité alimentaire en protéines donnée pour chaque produit et pour chaque pays en  g/personne/jour.</p>
<p>Pour cette étape vous avez besoin de constituer une seule et même table à partir des tables  animaux, végétaux et population. Nommer cette nouvelle table « aliments ». </p>

Construction d'une Data frame aliments

In [174]:
# Ajout d'une colonne 'Origine' dans animaux et vegetaux
animal['Origine'] = 'Animale'
vegetal['Origine'] = 'Végétale'

# Union de Végétaux et Animaux
aliments = pd.concat([vegetal, animal])

# Projection
aliments = aliments[[
    'Pays',
    'Code Pays',
    'Produit',
    'Code Produit',
    'Origine',
    'Élément',
    'Valeur',
    'Unité',
    'Année'
]]

# Table pivot sur aliments
aliments = aliments.pivot_table('Valeur', index=['Code Pays','Pays','Produit','Code Produit','Année','Origine'], columns='Élément') #,'Unité'

# Reset index
aliments.reset_index(inplace=True)
aliments.head()
# Joindre population et aliments
aliments = pd.merge(aliments, population[['Pays', 'Valeur','Unité']], left_on='Pays', right_on='Pays')

# Renommer les colonnes
aliments.rename(columns={
    'Aliments pour animaux' : 'alim_ani',
    'Autres utilisations (non alimentaire)' : 'autres_utilisations',
    'Semences' : 'semences',
    'Pertes' : 'pertes',
    'Nourriture' : 'nourriture',
    'Traitement' : 'transfo', # ?
    'Disponibilité intérieure' : 'dispo_int',
    'Disponibilité alimentaire (Kcal/personne/jour)' : 'dispo_alim_kcal_p_j',
    'Disponibilité alimentaire en quantité (kg/personne/an)' : 'dispo_alim_kg_p_an',
    'Disponibilité de protéines en quantité (g/personne/jour)' : 'dispo_prot_g_p_j',
    'Disponibilité de matière grasse en quantité (g/personne/jour)' : 'dispo_mat_gr',
    'Valeur' : 'population',
    'Unité' : 'unité_pop'
}, inplace=True)

# Remplacer les Nan
aliments.replace(np.nan, 0, inplace=True)
#Population * 1000
aliments['population']= (aliments['population'] *1000).round(decimals = 1)
# Affichage
print('Résultat : ', aliments.shape[1], 'colonnes, ', aliments.shape[0], 'lignes')
aliments.sample(3)

Résultat :  23 colonnes,  4764 lignes

,Code Pays,Pays,Produit,Code Produit,Année,Origine,alim_ani,Autres Utilisations,dispo_alim_kcal_p_j,dispo_alim_kg_p_an,...,Exportations - Quantité,Importations - Quantité,nourriture,pertes,Production,semences,transfo,Variation de stock,population,unité_pop
1713,89,Guatemala,Huile de Sésame,2579,2013,Végétale,0.0,0.0,9.0,0.38,...,0.0,0.0,6.0,0.0,6.0,0.0,0.0,0.0,15468000,1000 persons
2110,107,Côte d'Ivoire,Raisin,2620,2013,Végétale,0.0,0.0,0.0,0.06,...,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,20316000,1000 persons
3134,165,Pakistan,Légumineuses Autres,2549,2013,Végétale,203.0,0.0,42.0,4.38,...,0.0,176.0,798.0,22.0,906.0,59.0,0.0,0.0,182143000,1000 persons

In [175]:
aliments['dispo_int']

0       53.0
1       41.0
2        2.0
3        0.0
4       82.0
        ...
4759    23.0
4760    11.0
4761     1.0
4762    27.0
4763     1.0
Name: dispo_int, Length: 4764, dtype: float64

In [176]:
aliments.columns

Index(['Code Pays', 'Pays', 'Produit', 'Code Produit', 'Année', 'Origine',
       'alim_ani', 'Autres Utilisations', 'dispo_alim_kcal_p_j',
       'dispo_alim_kg_p_an', 'dispo_mat_gr', 'dispo_prot_g_p_j', 'dispo_int',
       'Exportations - Quantité', 'Importations - Quantité', 'nourriture',
       'pertes', 'Production', 'semences', 'transfo', 'Variation de stock',
       'population', 'unité_pop'],
      dtype='object')

In [177]:
# Calcul disponibilité alimentaire Kcal/an = dispo_alim_kcal_p_j * (population*1000) * 365

aliments['dispo_alim_kcal_an'] = round((aliments['dispo_alim_kcal_p_j'] * (aliments['population'])) * 365,1)
aliments['dispo_prot_kg_an'] = round(((aliments['dispo_prot_g_p_j'] /1000) * aliments['population'] * 365),1)
aliments['dispo_alim_kg_an'] = (aliments['dispo_alim_kg_p_an'] * aliments['population'])
aliments.columns

Index(['Code Pays', 'Pays', 'Produit', 'Code Produit', 'Année', 'Origine',
       'alim_ani', 'Autres Utilisations', 'dispo_alim_kcal_p_j',
       'dispo_alim_kg_p_an', 'dispo_mat_gr', 'dispo_prot_g_p_j', 'dispo_int',
       'Exportations - Quantité', 'Importations - Quantité', 'nourriture',
       'pertes', 'Production', 'semences', 'transfo', 'Variation de stock',
       'population', 'unité_pop', 'dispo_alim_kcal_an', 'dispo_prot_kg_an',
       'dispo_alim_kg_an'],
      dtype='object')

In [178]:
aliments[['Pays','Produit','dispo_alim_kcal_an','dispo_prot_kg_an','dispo_alim_kg_an']].head(5)

,Pays,Produit,dispo_alim_kcal_an,dispo_prot_kg_an,dispo_alim_kg_an
0,Afghanistan,Abats Comestible,5.575740e+10,8586639.6,52549440.0
1,Afghanistan,"Agrumes, Autres",1.115148e+10,223029.6,39412080.0
2,Afghanistan,Aliments pour enfants,1.115148e+10,334544.4,1833120.0
3,Afghanistan,Ananas,0.000000e+00,0.0,0.0
4,Afghanistan,Bananes,4.460592e+10,557574.0,82490400.0

<h2>Question 4 : Ratio énergie/poids </h2>
<p>A partir de ces dernières informations, et à partir du poids de la disponibilité alimentaire (pour  chaque pays et chaque produit), calculez pour chaque produit le ratio "énergie/poids", que vous 
donnerez en kcal/kg.</p>
<p>Vous pouvez vérifier la cohérence de votre calcul en comparant ce ratio aux  données disponibles sur internet, par exemple en cherchant la valeur calorique d'un oeuf.</p>

In [210]:
# Ratio energie poids
aliments['ratio_energie_poids'] = round(aliments['dispo_alim_kcal_an'] / aliments['dispo_alim_kg_an'],1)
# Ratio protéine poids
aliments['ratio_prot_poids'] = round(aliments['dispo_prot_kg_an'] / aliments['dispo_alim_kg_an'],2)
# vérification et suppression des NaN

print(aliments['ratio_energie_poids'].isna().sum())
aliments['ratio_energie_poids'].dropna(axis='rows', inplace=True)
aliments['ratio_energie_poids'].isna().sum()
aliments.head(3)

0

,Code Pays,Pays,Produit,Code Produit,Année,Origine,alim_ani,Autres Utilisations,dispo_alim_kcal_p_j,dispo_alim_kg_p_an,...,semences,transfo,Variation de stock,population,unité_pop,dispo_alim_kcal_an,dispo_prot_kg_an,dispo_alim_kg_an,ratio_energie_poids,ratio_prot_poids
0,2,Afghanistan,Abats Comestible,2736,2013,Animale,0.0,0.0,5.0,1.72,...,0.0,0.0,0.0,30552000,1000 persons,5.575740e+10,8586639.6,52549440.0,1061.0,0.16
1,2,Afghanistan,"Agrumes, Autres",2614,2013,Végétale,0.0,0.0,1.0,1.29,...,0.0,0.0,0.0,30552000,1000 persons,1.115148e+10,223029.6,39412080.0,282.9,0.01
2,2,Afghanistan,Aliments pour enfants,2680,2013,Végétale,0.0,0.0,1.0,0.06,...,0.0,0.0,0.0,30552000,1000 persons,1.115148e+10,334544.4,1833120.0,6083.3,0.18

Sachant que la valeur énergétique pour un œuf moyen (60 g) est d'environ 90 kcal.

In [180]:
# vérification et suppression des NaN
#print(aliments.isna().sum())
aliments.dropna(axis='rows', inplace=True)

# Valeur énergétique sur produit = oeuf on prendra la moyenne de cette valeur et on la comparera avec les données sur le net
ratio_kcal_kg_oeuf = round(aliments[(aliments['Produit'] == 'Oeufs')]['ratio_energie_poids'].mean(),1)

#Valeur énergétique d'un oueuf moyen de 60g pris sur internet
ratio_kcal_kg_oeuf_net = 90 / 0.06

print(f"""Nous observant que la valeur énergétique moyenne d'un oeuf dans notre dataframe aliments est de {ratio_kcal_kg_oeuf} Kcal/kg,
ce qui est proche de la valeur obtenue sur internet pour un oeufs moyen de 60g qui est égale à {ratio_kcal_kg_oeuf_net} Kcal/kg""")

Nous observant que la valeur énergétique moyenne d'un oeuf dans notre dataframe aliments est de 1362.3 Kcal/kg,
ce qui est proche de la valeur obtenue sur internet pour un oeufs moyen de 60g qui est égale à 1500.0 Kcal/kg

<h2>Question 5 : Aliments les plus caloriques et protéiques  </h2>
<p>En considérant les aliments végétaux et animaux, citez 5 aliments parmi les 20 aliments les plus  caloriques, en utilisant le ratio énergie/poids. Citez 5 aliments parmi les 20 aliments les plus riches en  protéines. </p>

In [181]:
# classement des 20 aliments les plus caloriques
produits_plus_cal = aliments.groupby('Produit')['ratio_energie_poids'].mean().sort_values(ascending=False)
produits_plus_cal.head(20)
five_produits_plus_cal = produits_plus_cal.head(20).sample(n=5)
print(f"""Voici 5 aliments:\n {five_produits_plus_cal.to_string( header=False)}\nparmi les 20 les plus caloriques.""")

Voici 5 aliments:
 Huiles de Poissons        8942.500000
Huile de Germe de Maïs    6960.289655
Huile d'Olive             7388.752273
Huile de Palme            8712.990476
Huile de Sésame           6092.179167
parmi les 20 les plus caloriques.

In [211]:
# classement des 20 aliments les plus riches en protéines
produits_riche_prot = aliments.groupby('Produit')['ratio_prot_poids'].mean().sort_values(ascending=False)
produits_riche_prot.head(20)
five_produits_plus_prot = produits_riche_prot.head(20).sample(n=5)
print(f"""Voici 5 aliments:\n {five_produits_plus_prot.to_string( header=False)}\nparmi les 20 les plus protéiques.""")

Voici 5 aliments:
 Arachides Decortiquees      0.245294
Plantes Oleiferes, Autre    0.135294
Aliments pour enfants       0.152340
Viande de Bovins            0.146667
Abats Comestible            0.176296
parmi les 20 les plus protéiques.

<h2>Question 6 : Dispo. intérieure mondiale des végétaux </h2>
<p>Calculez, pour les produits végétaux uniquement, la disponibilité intérieure mondiale exprimée en  kcal. </p>

In [183]:
aliments['dispo_int']
aliments.columns

Index(['Code Pays', 'Pays', 'Produit', 'Code Produit', 'Année', 'Origine',
       'alim_ani', 'Autres Utilisations', 'dispo_alim_kcal_p_j',
       'dispo_alim_kg_p_an', 'dispo_mat_gr', 'dispo_prot_g_p_j', 'dispo_int',
       'Exportations - Quantité', 'Importations - Quantité', 'nourriture',
       'pertes', 'Production', 'semences', 'transfo', 'Variation de stock',
       'population', 'unité_pop', 'dispo_alim_kcal_an', 'dispo_prot_kg_an',
       'dispo_alim_kg_an', 'ratio_energie_poids'],
      dtype='object')

In [195]:
# filtrage de la table aliments sur la colnne dispo int et origine végétaux
df_dispo_int_veg = aliments.query("Origine in ('Végétale')")[['Produit','dispo_int','dispo_alim_kcal_an','dispo_prot_kg_an','Origine',	'ratio_energie_poids', 'population']]#,'Unité_x'
df_dispo_int_veg =df_dispo_int_veg.groupby('Produit').sum()
# df_dispo_int_veg.reset_index(drop=True)
# df_dispo_int_veg.index= df_dispo_int_veg['Code Pays']
# df_dispo_int_veg.index.name= "Code_Pays_id"
df_dispo_int_veg['dispo_int_veg_mondiale_kcal'] = df_dispo_int_veg['dispo_int'] * 1000000 * df_dispo_int_veg['ratio_energie_poids']
df_dispo_int_veg['dispo_int_veg_mondiale_kg_prot'] = (df_dispo_int_veg['dispo_int'] * 1000000) * df_dispo_int_veg['dispo_prot_kg_an']

<h3>Ci-dessous une table de la disposition intérieur mondiale en Kcal/an par produit végétal</h3>

In [186]:
df_dispo_int_veg.head(3)

,dispo_int,dispo_alim_kcal_an,dispo_prot_kg_an,ratio_energie_poids,population,dispo_int_veg_mondiale_kcal,dispo_int_veg_mondiale_kg_prot
Produit,,,,,,,
"Agrumes, Autres",895.0,1.983936e+11,3252850.8,3532.4,752903000,3.161498e+12,2.911301e+15
Aliments pour enfants,127.0,4.247855e+11,19391074.0,138824.9,1008453000,1.763076e+13,2.462666e+15
Ananas,4863.0,1.307137e+12,10914803.3,15676.9,1058821000,7.623676e+13,5.307869e+16

<h2>Question 7 : Potentiel alimentaire des végétaux  </h2>
<p>Combien d'humains pourraient être nourris si toute la disponibilité intérieure mondiale de produits  végétaux était utilisée pour de la nourriture ? Donnez les résultats en termes de calories, puis de  protéines, et exprimez ensuite ces 2 résultats en pourcentage de la population mondiale.  </p>

In [203]:
# Les reomendation sont entre 2400 et 2700 pour les hommes et entre 2000 et 2200 pour les femmes je prend une moyenne
besoin_kcal_per_an_p =(2000+2700)/2 * 365 
besoin_kcal_per_an_p

need_per_year_pop = besoin_kcal_per_an_p * pop_total
need_per_year_pop

6001956376500.0

In [206]:
# Combien pourait-on nourrir de personne en Kcal par an
pot_humain_nourris = df_dispo_int_veg['dispo_int_veg_mondiale_kcal'].sum() / besoin_kcal_per_an_p
print(f'Si toute la disponibilité intérieure mondiale de produits végétaux était utilisée pour nourrir la populution\non pourait nourir {(pot_humain_nourris):,} d\'humain sur la planète en 2013 en terme de calories.'.replace(',', ' '))

Si toute la disponibilité intérieure mondiale de produits végétaux était utilisée pour nourrir la populution
on pourait nourir 96 026 565 926.20227 d'humain sur la planète en 2013 en terme de calories.

In [189]:
# En poucentage
pot_humain_nourris_perc_pop = int(pot_humain_nourris) / int(pop_total)
pot_humain_nourris_perc_pop

13723.323156017028

In [196]:
# Les besoins en protéines par jour et par personnes sont de 0,8g par kg on prendra ici un poids moyen de 62kg pour toutes la population
besoin_kg_prot_an_p = 0.8*62*365
besoin_kg_prot_an_p

18104.0

In [197]:
# Combien pourait-on nourrir de personne en Kg de protéines par an
pot_humain_nourris = df_dispo_int_veg['dispo_int_veg_mondiale_kg_prot'].sum() / besoin_kg_prot_an_p
print(f'Si toute la disponibilité intérieure mondiale de produits végétaux était utilisée pour nourrir la populution\non pourait nourir {(pot_humain_nourris):,} d\'humain sur la planète en 2013 en terme de protéines'.replace(',', ' '))

Si toute la disponibilité intérieure mondiale de produits végétaux était utilisée pour nourrir la populution
on pourait nourir 8.01295597940354e+16 d'humain sur la planète en 2013 en terme de protéines